<div class="row">
  <div class="col-md-5">
    <p><%= link_to "&larr; back to parents".html_safe, pod_admin_path %></p>
    <h3>
      <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<%= @parent.name %>
      <%= link_to "Edit", edit_pod_admin_parent_path(@parent), class: "btn btn-xs btn-primary inline-delete-form" %>
    </h3>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="well">
      <p>
        <strong>Parent's access address:</strong>
        <%= link_to "http://#{request.host_with_port}/#/#{@parent.slug}/games", "/#/#{@parent.slug}/games" %>
      </p>
      <p><small>This is the custom address that <%= @parent.name %> uses to access Easypeasy and should not be shared.</small></p>
      <p>
        <%= button_to "Send welcome SMS", { action: "send_welcome_sms", id: @parent.id, method: :post }, { class: 'btn btn-primary'} %>
      </p>
    </div>
  </div>
</div>

