<%= form_for [:admin, @pod], html: {role: "form"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "", class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, placeholder: "", class: "form-control" %>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.label :go_live_date %>
        <%= f.date_field :go_live_date, placeholder: "", class: "form-control" %>
      </div>
      <br/>
      <div class="col-md-6">
        <small><strong>IMPORTANT:</strong> this date determines when the pod starts (7 days after this date parents will receive the first game).<br /> if you leave this date blank the pod wont start the programme but it is accessible (setup process)</small>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.label :inactive_date %>
        <%= f.date_field :inactive_date, placeholder: "", class: "form-control" %>
      </div>
      <br/>
      <div class="col-md-6">
        <small>The date from which you want the access to this pod to be restricted to its pod admin and parents. (Leave the date blank to make the pod active)</small>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.label :school_id, "School ID" %>
        <%= f.text_field :school_id, placeholder: "", class: "form-control" %>
      </div>
      <br/>
      <div class="col-md-4">
        <small>Visit <a href="https://easypeasy.wonde.com/schools">Wonde</a> to get this value</small>
      </div>
    </div>
  </div>
  <div class="form-group">
      <%= f.label :is_test, "Is this a test pod?" %>&nbsp;
      <%= f.check_box :is_test, placeholder: "" %>
  </div>
  <div class="row">
    <% if params[:action] == 'edit' || params[:action] == 'update' %>
      <div class="col-md-2">
        <%= f.submit "Update", class: "btn btn-success" %>
      </div>
      <div class="col-md-2">
        <%= link_to("Delete", { action: :destroy, id: f.object.id }, method: :delete, class: "btn btn-danger") %>
      </div>
      <br/>
    <% else %>
      <div class="col-md-2">
        <%= f.submit "Add pod", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
<% end %>
