<div class="row">
  <div class="col-md-5">
    <p><%= link_to "&larr; back".html_safe, admin_pods_path %></p>
    <h3>
      Edit <%= @pod.name %>
      <%= form_for [:admin, @pod], method: "delete", html: {class: "inline-delete-form"} do |f| %>
        <%= f.submit "Delete", class: "btn btn-xs btn-danger" %>
      <% end %>
    </h3>
    <hr/>
  </div>
</div>

<%= render "pod_form" %>

<h3>Import a CSV file of Parents</h3>
<%= form_tag admin_pod_import_path(@pod), multipart: true do %>
  <%= file_field_tag :file %>
  <br/>
  <%= submit_tag "Import CSV", class: "btn btn-med btn-primary"%>
<% end %>
