<div class="row">
  <div class="col-md-12">
    <p><%= link_to "&larr; back".html_safe, admin_pods_path %></p>
    <h3>
      Edit pod
    </h3>
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="well well-lg">
      <%= render "pod_form" %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well well-lg">
      <h3>Import a CSV file of Parents</h3>
      <br/>
      <%= form_tag admin_pod_import_path(@pod), multipart: true do %>
        <%= file_field_tag :file %>
        <br/>
        <%= submit_tag "Import CSV", class: "btn btn-med btn-primary"%>
      <% end %>
    </div>
  </div>
</div>