<% if @parents.any? %>
  <div class="row">
    <div class="col-md-9">
      <p><%= link_to "&larr; back to #{@pod.name}".html_safe, edit_admin_pod_path(@pod) %></p>
      <h3><%= @parents.count %> parents in this pod</h3>
      <hr/>
      <%= form_for :parent, :url => edit_admin_pod_path(@pod), :html => { :method => :put } do %>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Slug</th>
              <th>Created</th>
              <th>Welcome SMS</th>
            </tr>
          </thead>
          <tbody>
            <% @parents.each do |parent| %>
              <tr>
                <th scope="row"><%= parent.id %></th>
                <td><%= parent.name %></td>
                <td><%= parent.phone %></td>
                <td><a href="http://play.easypeasyapp.com/#/<%= parent.slug %>/games" target="_blank"><%= parent.slug %></a></td>
                <td><%= parent.created_at.to_date %></td>
                <td><%= parent.welcome_sms_sent %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>

<br />

<% if !@pod.school_id.blank? %>
<div class="row">
  <div class="col-md-6">
    <h3>Import new parents via SIMS</h3>
    <hr />
    <%= form_for admin_pod_path, :html => { :method => :get } do %>
    <fieldset>
      <div class="col-md-6">
        <label for="disabledSelect">Children born after this date</label>
        <div class="input-group">
          <input type="date" name="year" class="form-control" value="<%= @year %>" />
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', class: 'btn btn-primary btn-med pull-right') do %>
              Show parents
            <% end %>
          </span>
        </div>
      </div>
    </fieldset>
    <% end %>
    <hr />
  </div>
</div>

  <% if @newParents.any? %>
  <div class="row">
    <div class="col-md-6">
      <h4><%= @newParents.count %> parents found</h4>
      <%= form_for :newParents, :url => admin_pod_path, :html => { :method => :post } do %>
        <ul class="list-group">
            <% @newParents.each do |parent|%>
              <li class="list-group-item">
                Parent name: <strong><%= parent.name + ' ' + parent.surname %> - <%= parent.phone %></strong> <br />
                Parent relationship: <strong><%= parent.relationship %></strong> <br />
                Child's name: <strong><%= parent.forename + ' (' + parent.dob + ')'%></strong>
                <%= hidden_field_tag :name, parent.name + ' ' + parent.surname, :name => "parents[][name]" %>
                <%= hidden_field_tag :phone, parent.phone, :name => "parents[][phone]" %>
                <label class='text-weight-normal pull-right'>
                  <%= check_box_tag "parents[][add]", parent.id, false %>
                </label>
              </li>
            <% end %>
        </ul>

          <%= button_tag(type: 'submit', class: 'btn btn-primary btn-med pull-right') do %>
            <span class="glyphicon glyphicon-plus"></span>  Add parents
          <% end %>
        <% end %>
        <br /><br /><br />

  </div>
  <% end %>
<% end %>
