<h1><%= @pod.name%>'s Weekly Report<h1>
<h3><%= (Date.yesterday - 7.days).strftime("%A, %b %d") %> to <%= Date.yesterday.strftime("%A, %b %d") %></h3>

<p>Hello! Here is what happened in your pod last week. If you want to get in touch with us, just reply to this email.</p>

<%-
    start_date = Date.today.midnight - 7.days
    end_date = Date.today.midnight
    most_popular_game_last_week = @pod.most_popular_games("last_week")[0]["game_name"]
    most_popular_game_all_time  = @pod.most_popular_games("all_time")[0]["game_name"]
    most_commented_game_last_week = @pod.most_commented_games("last_week")[0]
    most_chatty_parent_last_week = @pod.most_chatty_parents("last_week")[0]["parent_name"]
    comments_last_week = Comment.where(pod_id: @pod.id, created_at: start_date..end_date).order("created_at DESC")
    also = (most_popular_game_last_week == most_popular_game_all_time)
    not_commented = Parent.not_commented(@pod.id)
%>

<p>
  Of the <%= @pod.parents.count %> parents in your pod, <%= @pod.parents_who_visited("last_week").count %> of them visited EasyPeasy last week.
  The most visited game was <%= most_popular_game_last_week %>, and the most popular game so far is <%= "also " if also %><%= most_popular_game_all_time %>.
</p>

<p>
  Your pod posted <%= @pod.comments_last_week.count %> messages last week.

  <%- unless most_commented_game_last_week["comments"] == 0 %>
    <%= most_commented_game_last_week["game_name"] %> had the most posts with <%= most_commented_game_last_week["comments"] %> messages.
    The most chatty member of your pod was <%= most_chatty_parent_last_week %>.
  <%- end %>
</p>

<%- unless most_commented_game_last_week["comments"] == 0 %>
<p>
  Here are a few chats they had.
  <ul>
  <% comments_last_week.limit(5).each do |comment| %>
    <li><%= comment.body %></li>
  <% end %>
  </ul>
  <p><%= link_to "View all chats...", pod_admin_comments_path %></p>
  <%- if not_commented.count != 0 %>
  <p>
  <%= pluralize(not_commented.count, 'person') %> might be a bit shy and <%- if not_commented.count == 1 %>hasn't<%- else %>haven't<%- end %> commented yet:
    <%- not_commented.each_with_index do |parent, index| %>
      <%= parent.name %><%- if index+1 < not_commented.count %>, <%- else %>.<%- end %>
    <%- end %>
  </p>
  <%- end %>
</p>
<%- end %>

<%# Next game to be released ==================== %>
<%-

  next_game = @pod.next_game

%>
<%- if next_game %>
<p>The next game released will be <%= next_game %>.</p>
<%- end %>

<p>Have a nice week!</p>
