<%# No pod set on the admin %>
<% if !current_admin.pod %>
  <p class="alert alert-danger">
    Hm. I can't find your pod. Please contact a member of EasyPeasy staff to sort this out. Sorry for the inconvenience.
  </p>
<% end %>


<% if current_admin.pod %>
	<% if !current_admin.pod.go_live_date %>
		<!-- Pod not yet live -->
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			    <p class="lead">Welcome to <strong><%= current_admin.pod.name %>'s</strong> Pod!</p>
			    <p>As Pod Administrator, you can use this dashboard to add more parents to your pod, review EasyPeasy's games, view and manage parent comments, and more.</p>
			    <p>EasyPeasy will send a weekly game to all of the parents that you have added to your 'Pod'. When you are ready to start sharing games with parents, <a href="#" onclick="showGoLiveButton()">click here to start</a>.</p>
			    <div id="goLiveButton" style="display: none;">
			      <%= button_to "Go Live", { action: "set_go_live_date_for_pod", id: current_admin.pod_id, method: :post }, { class: 'btn btn-primary'} %>
			    </div>
			</div>
		</div>
	<% elsif current_admin.pod.is_active? %>
		<!-- Pod is live and active -->
    <p>This pod has been live since <strong><%= current_admin.pod.go_live_date.strftime("%B %e, %Y") %></strong>.</p>

    <% if current_admin.pod.week_number > 0 %>
      <div class="row">
        <% if current_admin.pod.current_game %>
  			<div class="col-xs-12 col-sm-6 col-md-5 week_game">
          <div class="page-header">
            <h4><img src="<%= asset_path 'pea-sparks.png' %>" width="35" height="39" /> This week's game is <strong><%= current_admin.pod.current_game.name %></strong></h4>
          </div>
          <div class="still">
            <a href="<%= pod_admin_game_path(current_admin.pod.current_game) %>">
              <% if current_admin.pod.current_game.image_url && current_admin.pod.current_game.image_url.empty? %>
                <%= image_tag "no-picture.png" %>
              <% else %>
                <img src="<%= current_admin.pod.current_game.image_url %>">
              <% end %>
              <h3><%= current_admin.pod.current_game.name %></h3>
            </a>
          </div>
          <div>
            <br>
            <p>EYFS Area: <strong><%= current_admin.pod.current_game.eyfs_area %></strong></p>
            <p>Learning Goal: <strong><%= current_admin.pod.current_game.eyfs_goal %></strong></p>      
          </div>              
          <p><br/>Top tip for <%= link_to current_admin.pod.current_game.name, pod_admin_game_path(current_admin.pod.current_game) %>: <%= current_admin.pod.current_game.top_tip %></p>
          <p>Find out how to play <%= link_to "here", pod_admin_game_path(current_admin.pod.current_game) %></p>
        </div>
        <% end %>

        <% if current_admin.pod.next_game %>
  			<div class="col-xs-12 col-sm-6 col-md-5 week_game">
          <div class="page-header">
            <h4><img src="<%= asset_path 'pea-sparks.png' %>" width="35" height="39" /> Next week's game is <strong><%= current_admin.pod.next_game.name %></strong></h4>
          </div>
          <div class="still">
            <a href="<%= pod_admin_game_path(current_admin.pod.next_game) %>">
              <% if current_admin.pod.next_game.image_url && current_admin.pod.next_game.image_url.empty? %>
                <%= image_tag "no-picture.png" %>
              <% else %>
                <img src="<%= current_admin.pod.next_game.image_url %>">
              <% end %>

              <h3><%= current_admin.pod.next_game.name %></h3>
            </a>
          </div>
          <div>
            <br>
            <p>EYFS Area: <strong><%= current_admin.pod.next_game.eyfs_area %></strong></p>
            <p>Learning Goal: <strong><%= current_admin.pod.next_game.eyfs_goal %></strong></p>      
          </div>  
          <p><br/>Top tip for <%= link_to current_admin.pod.next_game.name, pod_admin_game_path(current_admin.pod.next_game) %>: <%= current_admin.pod.next_game.top_tip %></p>
          <p> Find out how to play <%= link_to "here", pod_admin_game_path(current_admin.pod.next_game) %></p>
        </div>
        <% end %>
      </div>

      <hr />
    <% end %>

	<% end %>
<% end %>

<%# No parents %>
<% if @parents && @parents.empty? %>
  <%= image_tag "logo-huge.png", style: "opacity: 0.3" %>
<% end %>

<script>
function showGoLiveButton() {
  document.getElementById("goLiveButton").style.display = "block";
}
</script>
