<div class="row">
	<div class="col-md-12">
		<div class="vertical-spacer">
		</div>
		<p><strong>
		Before we begin, please enter a password and your preferred name:
		</p></strong>
	</div>
</div>

<div class="vertical-spacer">
</div>

<div class="row col-md-12">
	<%= form_for(resource, as: resource_name, method: :patch, url: admin_confirm_path) do |f| %>
		<div class="row col-md-12">
			<%= render 'shared/error_messages', object: resource %>
		</div>
		<div class="col-md-8 form-group">
	      	<%= f.label :email %><small> - this is your account name</small>
	        <%= f.email_field :email, disabled: true, input_html: { value: resource.email }, class: "form-control" %>
	      	<div class="vertical-spacer">
			</div>
		</div>
		<div class="row col-md-12">
			<div class="col-md-6 form-group">
				<%= f.password_field :password, required: true, autocomplete: "off", autofocus: true, placeholder: 'Password', class: "form-control" %>
				<em><small>(<%= Devise.password_length.first %> characters minimum)</small></em>
			</div>
			<div class="col-md-6 form-group">
				<%= f.password_field :password_confirmation, required: true, autocomplete: "off", placeholder: 'Password confirmation', class: "form-control" %>
			</div>
		</div>
					
		<div class="row col-md-12">
			<div class="col-md-12 form-group">
				<%= f.text_field :preferred_name, required: true, pattern: '^(?=.*[a-zA-Z].*)([a-zA-Z0-9]{1,25})$', 
					placeholder: "What should we call you? (eg. when we send you an email)",
					autocomplete: "off", class: "form-control", 
					oninvalid: "this.setCustomValidity('Please enter your preferred name (at least one letter).')", 
					oninput: "this.setCustomValidity('')"
					%>
			</div>
		</div>  
	
		<div class="row col-md-12">
			<div class="form-group">
				<%= f.hidden_field :confirmation_token, autocomplete: "off", value: @original_token %>
			</div>   
			<div class="vertical-spacer">
			</div>
			<div class="form-group">
				<%= f.submit "Confirm account", class: "btn btn-success" %>
			</div>
		</div>
  	<% end %>
</div>
