<div class="row">
  <div class="col-md-4">
    <%= form_for [:admin, @game], html: {role: "form"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, placeholder: "", class: "form-control", rows: 3 %>
        <small>Keep this very short!</small>
      </div>
      <div class="form-group">
        <%= f.label :instructions %>
        <%= f.text_area :instructions, placeholder: "", class: "form-control", rows: 7 %>
        <small>This is the text that appears next to the video on the game page. You can use <a href="/markdown.html" target="_blank">Markdown</a> to format your instructions</small>
      </div>
      <div class="form-group">
        <%= f.label :video_url, "Video URL" %>
        <%= f.text_field :video_url, placeholder: "", class: "form-control" %>
      </div>
      <div class="form-group">
        <% if params[:action] == 'edit' || params[:action] == 'update' %>
          <%= f.submit "Update game", class: "btn btn-primary" %>
        <% else %>
          <%= f.submit "Add game", class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
