<div class="admin-container">
  <p><%= link_to "&larr; back".html_safe, admin_games_path %></p>
  <div class="title">
    <div class="h3">
      Edit <%= @game.name %>
    </div>
    <%= form_for [:admin, @game], method: "delete", html: {class: "display-inline"} do |f| %>
      <%= f.submit "Delete", class: "btn btn-xs btn-danger" %>
    <% end %>
  </div>
  <hr />
  <%= render "game_form" %>
</div>
