<div class="row">
  <div class="col-md-5">
    <p><%= link_to "&larr; back".html_safe, admin_games_path %></p>
    <h3>
      Edit <%= @game.name %>
      <%= form_for [:admin, @game], method: "delete", html: {class: "inline-delete-form"} do |f| %>
        <%= f.submit "Delete", class: "btn btn-xs btn-danger" %>
      <% end %>
    </h3>
    <hr/>
  </div>
</div>

<%= render "game_form" %>
