<h2>Games</h2>

<a class="btn btn-default btn-med" href="<%= new_admin_game_path %>">
  <span class="glyphicon glyphicon-plus"></span> Add new game
</a>

<style>
  .panel { width: 500px; margin: 20px 0; }
  img.media-object { width: 150px; }
</style>

<%- @games.each do |game| %>

  <div class="panel panel-default">
    <div class="media panel-body">
      <a class="pull-left" href="<%= edit_admin_game_path(game) %>">
        <img class="media-object" src="<%= game.image_url %>">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="<%= edit_admin_game_path(game) %>"><%= game.name %></a></h4>
        <p><%= game.description %></p>
      </div>
    </div>
  </div>

<%- end %>
