<div class="row">
  <div class="col-md-5">
    <h2>Games</h2>
    <p class="lead">These are the games currently available on Easypeasy.</p>
    <p>
      <a class="btn btn-default btn-med" href="<%= new_admin_game_path %>">
        <span class="glyphicon glyphicon-plus"></span> Add new game
      </a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <h4>Default set</h4>
    <div class="list-group">
    <%- @default_games.each_with_index do |game, index| %>
      <a class="list-group-item" href="<%= edit_admin_game_path(game) %>">
        <div class="row">
          <div class="col-md-3">
            <% if game.image_url && game.image_url.empty? %>
              <%= image_tag "no-picture.png" %>
            <% else %>
            <img src="<%= game.image_url %>">
            <% end %>
          </div>
          <div class="col-md-9">
            <p><span class="label label-primary">Default</span></p>
            <h4><%= game.name %></h4>
            <p>EYFS Area: <strong><%= game.eyfs_area %></strong></p>
            <p>Learning Goal: <strong><%= game.eyfs_goal %></strong></p>                  
            <p><%= game.description %></p>
          </div>
        </div>
      </a>
    <%- end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <h4>Games released weekly</h4>
    <div class="list-group">
    <%- @weekly_games.each_with_index do |game, index| %>
      <a class="list-group-item" href="<%= edit_admin_game_path(game) %>">
        <div class="row">
          <div class="col-md-3">
            <% if game.image_url && game.image_url.empty? %>
              <%= image_tag "no-picture.png" %>
            <% else %>
            <img src="<%= game.image_url %>">
            <% end %>
          </div>
          <div class="col-md-9">
            <p><span class="label label-success"><%= "Week #{index+1}" %></span></p>
            <h4><%= game.name %></h4>
            <p>EYFS Area: <strong><%= game.eyfs_area %></strong></p>
            <p>Learning Goal: <strong><%= game.eyfs_goal %></strong></p>                              
            <p><%= game.description %></p>
          </div>
        </div>
      </a>
    <%- end %>
    </div>
  </div>
</div>
