<% require 'Redcarpet' %>
<%- if !@pod.next_game.nil? %>
<tr><td align="left" style="padding: 20px 0 0 0; font-size: 25px; line-height: 32px; font-family: Helvetica, Arial, sans-serif; color: #B2B4B5;" class="padding-copy">
  This week's game is <a href="<%= pod_admin_game_url(@pod.next_game) %>"><%= @pod.next_game.name %></a>
</td></tr>
<tr><td style="padding: 0 0 10px 0; font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #B2B4B5;">
  It relates to the <a href="http://easypeasyapp.com/files/eyfs-easypeasy.pdf">EYFS</a> area '<%= @pod.next_game.eyfs_area %>' and learning goal '<%= @pod.next_game.eyfs_goal %>'.
</td></tr>
<tr><td>
<a href="<%= pod_admin_game_url(@pod.next_game) %>">
  <% if @pod.next_game.image_url && @pod.next_game.image_url.empty? %>
    <%= image_tag "no-picture.png" %>
  <% else %>
    <img src="<%= @pod.next_game.image_url %>">
  <% end %>
</a>
</tr></td>
<table class="instructions">
<tr><td>
  <% renderer = Redcarpet::Render::HTML.new(no_links: true, hard_wrap: true) %>
  <%= Redcarpet::Markdown.new(renderer).render(@pod.next_game.instructions).html_safe %>
</td></tr>
</table>
<%- end %>