<%-
    start_date = Date.today.midnight - 7.days
    end_date = Date.today.midnight
    most_popular_game_last_week = @pod.most_popular_games("last_week")[0]["game_name"]
    most_popular_game_all_time  = @pod.most_popular_games("all_time")[0]["game_name"]
    most_commented_game_last_week = @pod.most_commented_games("last_week")[0]
    most_chatty_parent_last_week = @pod.most_chatty_parents("last_week")[0]["parent_name"]
    comments_last_week = Comment.where(pod_id: @pod.id, created_at: start_date..end_date).order("created_at DESC")
    also = (most_popular_game_last_week == most_popular_game_all_time)
    not_commented = Parent.not_commented(@pod.id)
%>

<!DOCTYPE html>
<html lang="en">
<head>
<title>EasyPeasy weekly report</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<%= render "pod_admin_mailer/styles" %>
</head>
<body style="margin: 0; padding: 0;">

<!-- HEADER -->
<%= render "pod_admin_mailer/header" %>

<!-- ONE COLUMN SECTION -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#ffffff" align="center" style="padding: 30px 15px 70px 15px;" class="section-padding">
      <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr><td><%= render "pod_admin_mailer/airmailstripe" %></td></tr>
              <tr>
                <td>
                  <!-- COPY -->
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <%= render "pod_admin_mailer/introsection" %>
                    <tr>
                      <td align="left" style="padding: 20px 0 0 0; font-size: 24px; line-height: 32px; font-family: Lato, Helvetica, Arial, sans-serif; color: #7E7E7E;" class="padding-copy">
                        Of the <b class="highlight"><%= @pod.parents.count %>&nbsp;parents</b> in your pod, <b class="highlight"><%= @pod.parents_who_visited("last_week").count %>&nbsp;of&nbsp;them</b> visited EasyPeasy last week. The most visited game was <b class="highlight"><%= most_popular_game_last_week %></b>, and the most popular game so far is <%= "also " if also %><b class="highlight"><%= most_popular_game_all_time %></b>.
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="padding: 20px 0 0 0; font-size: 24px; line-height: 32px; font-family: Lato, Helvetica, Arial, sans-serif; color: #7E7E7E;" class="padding-copy">
                        Your pod posted <b class="highlight"><%= @pod.comments_last_week.count %>&nbsp;messages</b> last week.

                        <%- unless most_commented_game_last_week["comments"] == 0 %>
                          <%= most_commented_game_last_week["game_name"] %> had the most posts with <b class="highlight"><%= most_commented_game_last_week["comments"] %>&nbsp;messages</b>.
                          The most chatty member of your pod was <b class="highlight"><%= most_chatty_parent_last_week %></b>.
                        <%- end %>
                      </td>
                    </tr>
                    <%- unless most_commented_game_last_week["comments"] == 0 %>
                      <tr>
                        <td align="left" style="padding: 20px 0 30px 0; font-size: 24px; line-height: 32px; font-family: Lato, Helvetica, Arial, sans-serif; color: #7E7E7E;" class="padding-copy">Here are a few chats they had:</td>
                      </tr>
                      <tr>
                        <td align="left" style="padding: 0 0 0 10px; font-size: 16px; line-height: 24px; font-family: Lato, Helvetica, Arial, sans-serif; color: #7E7E7E; border-left: 2px solid #8CC63F;" class="padding-copy">

                            <% comments_last_week.limit(5).each do |comment| %>
                              <p style="margin: 0;"><b class="highlight"><%= comment.parent.name %></b> on <%= comment.game.name %></p>
                              <p style="margin: 0 0 20px 0; color: #353637;"><%= comment.body %></p>
                            <% end %>

                          <p style="margin: 0"><%= link_to "View all chats...", pod_admin_comments_path, style: "text-decoration: none; color: #4A90E2;" %></p>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="padding: 20px 0 0 0; font-size: 24px; line-height: 32px; font-family: Lato, Helvetica, Arial, sans-serif; color: #7E7E7E;" class="padding-copy">
                          <%- if not_commented.count != 0 %>
                            <p>
                            <%= pluralize(not_commented.count, 'person') %> might be a bit shy and <%- if not_commented.count == 1 %>hasn't<%- else %>haven't<%- end %> commented yet:
                            <%- not_commented.each_with_index do |parent, index| %>
                              <%= parent.name %><%- if index+1 < not_commented.count %>, <%- else %>.<%- end %>
                            <%- end %>
                            </p>
                          <%- end %>
                        </td>
                      <%- end %>
                  </table>
                </td>
                      </tr>
                      <tr>
                        <td>
                          <!-- BULLETPROOF BUTTON -->
                          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                            <tr>
                              <td align="center" style="padding: 25px 0 0 0;" class="padding-copy">
                                <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                  <tr>
                                    <td align="center"><a href="http://play.easypeasyapp.com/pod_admin/comments" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #5D9CEC; border-top: 15px solid #5D9CEC; border-bottom: 15px solid #5D9CEC; border-left: 25px solid #5D9CEC; border-right: 25px solid #5D9CEC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;" class="mobile-button">All Comments &rarr;</a></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
            </table>
          </td>
              </tr>
      </table>
    </td>
        </tr>
</table>

<!-- FOOTER -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#ffffff" align="center">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td style="padding: 20px 0px 20px 0px;">
            <!-- UNSUBSCRIBE COPY -->
            <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" class="responsive-table">
              <tr>
                <td align="center" valign="middle" style="font-size: 12px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#666666;">
                  <!-- <span class="appleFooter" style="color:#666666;">Contact details</span><br><a class="original&#45;only" style="color: #666666; text&#45;decoration: none;">Link 1</a><span class="original&#45;only" style="font&#45;family: Arial, sans&#45;serif; font&#45;size: 12px; color: #444444;">&#38;nbsp;&#38;nbsp;&#38;nbsp;|&#38;nbsp;&#38;nbsp;&#38;nbsp;</span><a style="color: #666666; text&#45;decoration: none;">Link 2</a> -->
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</body>
</html>
