<%-
    start_date = Date.today.midnight - 7.days
    end_date = Date.today.midnight
    most_popular_game_last_week = @pod.most_popular_games("last_week")[0]["game_name"]
    most_popular_game_all_time  = @pod.most_popular_games("all_time")[0]["game_name"]
    most_commented_game_last_week = @pod.most_commented_games("last_week")[0]
    most_chatty_parent_last_week = @pod.most_chatty_parents("last_week")[0]["parent_name"]
    comments_last_week = Comment.where(pod_id: @pod.id, created_at: start_date..end_date).order("created_at ASC")
    also = (most_popular_game_last_week == most_popular_game_all_time)
    not_commented = Parent.not_commented(@pod.id)
    parents_who_visited = @pod.parents_who_visited("last_week")
%>

<!DOCTYPE html>
<html lang="en">
<head>
<title>EasyPeasy weekly report</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<%= render "pod_admin_mailer/styles" %>
</head>
<body style="margin: 0; padding: 0;">

<!-- HEADER -->
<%= render "pod_admin_mailer/header" %>

<!-- MAIN CONTENT -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#ffffff" align="center" style="padding: 30px 15px 70px 15px;" class="section-padding">
      <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
        <tr><td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <!-- airmail stripe -->
            <tr><td><%= render "pod_admin_mailer/airmailstripe" %></td></tr>
            <tr><td>
            <!-- COPY -->
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <%= render "pod_admin_mailer/introsection" %>
              <%= render "pod_admin_mailer/last_weeks_game" %>

              <!-- parents who visited row -->
              <tr><td align="left" style="padding: 20px 0 0 0; font-size: 18px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #444444;" class="padding-copy">
                  Of the <b class="highlight"><%= @pod.parents.count %>&nbsp;parents</b> in your pod, <b class="highlight"><%= parents_who_visited.count %>&nbsp;of&nbsp;them</b> visited EasyPeasy last week.
                  <%- if parents_who_visited.count > 0 %>The most visited game was <b class="highlight"><%= most_popular_game_last_week %></b>, and the most popular game so far is <%= "also " if also %><b class="highlight"><%= most_popular_game_all_time %></b>.<%- end %>
              </td></tr>

              <!-- list of top 3 visiting parents -->
              <%- if @pod.top_three_visitors %>
              <tr><td align="left" style="padding: 20px 0 0 0; font-size: 18px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #444444;" class="padding-copy">
                    <%= @pod.top_three_visitors %>
              </td></tr>
              <%- end %>

              <!-- list of parents who DID NOT visit row -->
              <%- if @pod.parents_who_did_not_visit("last_week")%>
              <tr><td align="left" style="padding: 20px 0 0 0; font-size: 18px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #444444;" class="padding-copy">
                    <%= @pod.parents_who_did_not_visit("last_week") %>
              </td></tr>
              <%- end %>


              <tr><td>
                <%= render "pod_admin_mailer/this_weeks_game" %>
              </td></tr>

              <!-- comments stats row -->
              <tr><td align="left" style="padding: 20px 0 0 0; font-size: 18px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #444444;" class="padding-copy">
                  Your pod posted <b class="highlight"><%= pluralize(@pod.comments_last_week.count, 'message') %></b> last week.
                <%- unless most_commented_game_last_week["comments"] == 0 %>
                <%= most_commented_game_last_week["game_name"] %> had the most posts with <b class="highlight"><%= pluralize(most_commented_game_last_week["comments"], 'message') %></b>. The most chatty member of your pod was <b class="highlight"><%= most_chatty_parent_last_week %></b>.
                <%- end %>
              </td></tr>

              <!-- some chats row -->
              <%- unless most_commented_game_last_week["comments"] == 0 %>

              <tr><td align="left" style="padding: 20px 0 30px 0; font-size: 18px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #444444;" class="padding-copy">
                Here are a few chats they had:
              </td></tr>

              <tr><td align="left" style="padding: 0 0 0 10px; font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #444444; border-left: 2px solid #8CC63F;" class="padding-copy">
                <% comments_last_week.limit(5).each do |comment| %>
                <p style="margin: 0;"><b class="highlight"><%= comment.parent.name %></b> on <%= comment.game.name %></p>
                <p style="margin: 0 0 20px 0; color: #353637;"><%= comment.body %></p>
                <% end %>
                <p style="margin: 0">
                  <%= link_to "View all chats...", pod_admin_comments_url, style: "text-decoration: none; color: #4A90E2;" %>
                </p>
              </td></tr>

              <%- if not_commented.count != 0 && not_commented.count < 15 %>
              <tr><td align="left" style="padding: 20px 0 0 0; font-size: 18px; line-height: 32px; font-family: Helvetica, Arial, sans-serif; color: #444444;" class="padding-copy">
                  <p>
                  <%= pluralize(not_commented.count, 'person') %> might be a bit shy and <%- if not_commented.count == 1 %>hasn't<%- else %>haven't<%- end %> commented yet:
                  <%- not_commented.each_with_index do |parent, index| %>
                    <%= parent.name %><%- if index+1 < not_commented.count %>, <%- else %>.<%- end %>
                  <%- end %>
                  </p>
              </td></tr>
              <%- end %>

              <%- end %>

              <!-- thank you row -->
              <tr><td align="left" style="padding: 20px 0 0 0; font-size: 18px; line-height: 32px; font-family: Helvetica, Arial, sans-serif; color: #444444;" class="padding-copy">
                  Have a nice week!
              </td></tr>

            </table>
          </td></tr>
        </table>
      </td></tr>
    </table>
  </td></tr>
</table>

<!-- FOOTER -->
<%= render "pod_admin_mailer/footer" %>

<img src="https://www.google-analytics.com/collect?v=1&tid=UA-48636478-3&cid=*|UNIQID|*&t=event&ec=email&ea=open&dp=/email/analytics/&dt=EasyPeasy%20weekly%20report&cs=podadmin_analytics&cm=email&cn=weekly_reports&cc=<%=@pod.name.strip%>"/>

</body>
</html>
