<div class="title">
  {{commentsCount}}
</div>

{{#each comment in this}}

<div class="commentItem">
  <div class="commentItem-author">{{comment.parent_name}}</div>
  <div class="commentItem-body">{{comment.body}}</div>
</div>

{{else}}

<p class="paraSmall">No comments on this game yet! Write the first one.</p>

{{/each}}

{{textarea value=body name='comment' class='textArea' placeholder='Type your comment'}}
<button class='Button easyButton' {{action 'addComment'}}>Add comment</button>
