<div class="homeLogo"></div>

<div class="welcomeMessage u-textCenter">
  <span class="welcomeMessage-parentName">Hi {{parent.first_name}}!</span><br/>You're in {{parent.pod_name}}.
</div>

<ul class="gamesList">
{{#each}}
  {{#link-to 'game' this class='gameItem u-cf' tagName='li'}}
    {{#if image_url}}
      <img class="gameItem-image u-floatLeft u-size5of12" {{bind-attr src=image_url}}/>
    {{else}}
      <img class="gameItem-image u-floatLeft u-size5of12" src="/assets/no-picture.png"/>
    {{/if}}
    <div class="gameItem-name u-before6of12 u-after1of12">{{name}}</div>
    <div class="gameItem-description u-before6of12 u-after1of12">{{description}}</div>
  {{/link-to}}
{{/each}}
</ul>
