{{#link-to 'games'}}&lt; back{{/link-to}}
<h3>{{name}}</h3>
<p>{{description}}</p>
<div class="instructions">
  {{{instructions}}}
</div>
{{{unbound videoEmbed}}}
{{#link-to 'comments'}}Comments{{/link-to}}
{{outlet}}
